
<section class="section" id="section_390526980">
    <div class="section-content relative">
        <div class="row" id="row-1069786766">
            <div id="col-1543326846" class="col padding-bottom medium-2 small-12 large-2">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1963524724">
                        <div class="img-inner dark">
                            {{!-- cho ảnh logo vào đây --}}
                            <img width="512" height="512" src="/img/pngegg.png" class="attachment-original size-original" alt="" loading="lazy"  sizes="(max-width: 512px) 100vw, 512px" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-401610072" class="col padding-bottom medium-7 small-12 large-7 mt-4">
                <div class="col-inner">
                    <p>
                        <strong>
                            <span style="color: #282828;">
                                Sự hài lòng của khách hàng, là niềm vui của chúng tôi. Chúng tôi luôn quan niệm sẽ mang đến dịch vụ, giải pháp cùng giá trị tốt nhất cho khách hàng. Cái cuối cùng đạt được là mọi công lao sẽ được đền đáp xứng đáng.
                            </span>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="FDN71"> 
    <div class="aaaaaaa m-4">
        <a href="https://www.facebook.com/profile.php?id=100006714900869" class="ml-4 mr-4">Facebook:
            <i class="fa-brands fa-facebook" style="color: blue ; font-size:30px"></i>
        </a>
        <a target="blank" href="https://zalo.me/0975719589" style="margin-top: 7px">
            Zalo:
            <img style="height: 30px;width:30px; margin-top:-15px" src="/img/iconzalo.png" alt="chat-active-icon" border="0">
        </a>
    </a>
    </div>
    <div class="ddddddddddd"> 
        <div class="BV2E6Y">
            Địa chỉ: Xã Hồng Hà, Huyện Đan Phượng, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 0968823201 - Email: hoangyl245@gmail.com 
        </div>                     
        <div class="BV2E6Y">
            Chịu Trách Nhiệm Quản Lý Nội Dung: Phạm Văn Hoàng - Điện thoại liên hệ: 0968823201
        </div> 
        <div class="BV2E6Y"> 
            Mã số doanh nghiệp: 001293767135 do Sở Kế hoạch và Đầu tư cấp ngày 2/7/2022
        </div>
    </div>
    <div class="mb-5">

    </div>
</div>

