<div class="FDN71"> 
    <div class="Hyfopi "> 
        <div class="EWPRwa d-flex justify-content-center"> 
            <div class="d56atc">
                <a class="Dc814L" href="https://shopee.vn/legaldoc/privacy">
                    <span>Chính sách bảo mật</span>
                </a> 
            </div> 
            <div class="d56atc"> 
                <a class="Dc814L" href="https://shopee.vn/docs/170">
                    <span>Quy chế hoạt động</span> 
                </a> 
            </div> 
            <div class="d56atc"> 
                <a class="Dc814L" href="https://shopee.vn/legaldoc/shipping">
                    <span>Chính sách vận chuyển</span> 
                </a> 
            </div> 
            <div class="d56atc"> 
                <a class="Dc814L" href="https://shopee.vn/docs/3111">
                    <span>CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</span> 
                </a> 
            </div> 
        </div> 
    </div> 
    <div class="ddddddddddd">
        <div class="BV2E6Y Egg4D-">
            Công ty TNHH Dalziel
        </div> 
        <div class="BV2E6Y">
            Địa chỉ: Xã Hồng Hà, Huyện Đan Phượng, Thành phố Hà Nội, Việt Nam. Tổng đài hỗ trợ: 0968823201 - Email: hoangyl245@gmail.com 
        </div>                     
        <div class="BV2E6Y">
            Chịu Trách Nhiệm Quản Lý Nội Dung: Phạm Văn Hoàng - Điện thoại liên hệ: 0968823201
        </div> 
        <div class="BV2E6Y"> 
            Mã số doanh nghiệp: 001293767135 do Sở Kế hoạch và Đầu tư cấp ngày 2/7/2022
        </div>
        <div class="BV2E6Y">
                © 2022 - Bản quyền thuộc về Công ty TNHH Dalziel
        </div> 
    </div>
    <div class="aaaaaaaaa">

    </div>
</div>

