
<div id="wrapper" >
    <header id="header" class="header has-sticky sticky-jump">
        <div class="header-wrapper">
            <div id="masthead" class="header-main">
                <div class="header-inner flex-row container" role="navigation">
                    <div id="logo" class="flex-col logo">
                        <a href="/" title="CÔNG TY MÔI TRƯỜNG ĐÔ THỊ HÀ NỘI " rel="home">
                            <img width="136" height="120" src="/img/pngegg.png" class="header_logo header-logo" alt="CÔNG TY MÔI TRƯỜNG ĐÔ THỊ HÀ NỘI " />
                        </a>
                    </div>
                    <div id="col-925541328" class="col padding-bottom20 small-12 large-12 mt-5">
                        <div class="col-inner">
                            <h1 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>CÔNG TY MÔI TRƯỜNG TUẤN TRANG 
                                        <a href="tel: 0975719589">0975.719.589</a>
                                    </strong>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
