
<div data-rsssl=1 class="home page-template page-template-page-blank page-template-page-blank-php page page-id-174 lightbox nav-dropdown-has-arrow">
    <main id="main" class="">
        <div class="row" id="row-117537029">
            <div id="col-1832320261" class="col small-12 large-12">
                <div class="col-inner">
                    <div>
                        <h1 style="text-align: center;" class="mt-5">
                            <span style="color: #0d0da1;">
                                <strong>CÔNG TY MÔI TRƯỜNG ĐÔ THỊ HÀ NỘI</strong>
                            </span>
                        </h1>
                        <h2 style="text-align: center;">
                            <span style="color: #0000ff;">
                                <strong>
                                    <span style="color: #ff0000;"> HÚT BỂ PHỐT, THÔNG TẮC CỐNG, THÔNG BỒN CẦU,</span>
                                </strong>
                            </span>
                        </h2>
                    </div>
                    <div>
                        <h2 style="text-align: center;">
                            <span style="color: #0000ff;">
                                <strong>
                                    <span style="color: #ff0000;">THÔNG CHẬU RỬA BÁT </span>
                                </strong>
                            </span>
                            <span style="color: #0000ff;">
                                <strong>
                                    <span style="color: #ff0000;">CHUYÊN NGHIỆP</span>
                                    <br />
                                </strong>
                            </span>
                        </h2>
                        <h3 style="text-align: center;">
                            <span style="color: #000000;">
                                <strong>Thông tắc cống giá rẻ, không đục phá</strong>
                            </span>
                        </h3>
                        <p style="text-align: center;">
                            <span style="color: #000000;">
                                <strong>
                                    <em>[ Phục Vụ Toàn Hà Nội – Có Mặt Sau 10 Phút ]</em>
                                </strong>
                            </span>
                        </p>
                    </div>
                    <div>
                        <h1 style="text-align: center;">
                            <span style="color: #ed1c24;">
                                <strong>Hotline: </strong>
                                <strong>
                                    <a style="color: #ed1c24;" href="tel: 0975719589">0975.719.589</a>
                                </strong>
                            </span>
                        </h1>
                        <h4 style="background: #ffdfdf; margin: 0px 0px 10px; padding: 7px;">
                            <span style="color: #000000;"> Tuần vàng khuyến mãi </span>
                        </h4>
                    </div>
                    <div>
                        <h4 style="background: #ffdfdf; margin: 0px 0px 10px; padding: 7px;">
                            <span style="color: #000000;"> Phiếu Giảm giá 50k áp dụng cho tất cả các khách hàng đầu tiên </span>
                        </h4>
                    </div>
                    <div>
                        <h4 style="background: #ffdfdf; margin: 0px 0px 10px; padding: 7px;">
                            <span style="color: #000000;"> Đặc biệt sẽ được bảo hành dài hạn </span>
                        </h4>
                    </div>
                    <div>
                        <h4 style="background: #ffdfdf; margin: 0px 0px 10px; padding: 7px;">
                            <span style="color: #000000;"> Lưu ý: Liên hệ chúng tôi được áp dụng chương trình ưu đãi có giá trị lớn nhất. </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="row-6666771">
                <div id="col-788947936" class="col medium-4 small-12 large-4">
                    <div class="col-inner">
                        <div class="icon-box featured-box icon-box-center text-center">
                            <div class="icon-box-img" style="width: 99px">
                                <div class="icon">
                                    <div class="icon-inner">
                                        <img width="168" height="168" src="/img/tu-van-khao-sat-mien-phi.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                    </div>
                                </div>
                            </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>Khảo sát thông tắc <br/> miễn phí</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">
                                Công ty môi trường đô thị Hà Nội có chính sách khảo sát hoàn toàn miễn phí và báo giá công khai, minh bạch. Sau khi quý khách nhận được báo giá từ Công ty môi trường đô thị Hà Nội quý khách có thể tham khảo và chủ động lựa chọn sử dụng dịch vụ thông tắc cống …
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-190540061" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <div class="icon-box featured-box icon-box-center text-center">
                        <div class="icon-box-img" style="width: 99px">
                            <div class="icon">
                                <div class="icon-inner">
                                    <img width="168" height="168" src="/img/cong-nghe-thong-hut-hien-dai.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                </div>
                            </div>
                        </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong style="height: 1000px;">Thống tắc công nghệ <br/> hiện đại</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">
                                Công ty môi trường đô thị Hà Nội sử dụng công nghệ hiện đại và tiên tiến ví dụ công nghệ hút hầm cầu chân không đến từ Nhật Bản và thông tắc bồn cầu, thông tắc bể phốt, bằng máy lò xo chuyên dụng, Công ty môi trường đô thị Hà Nội tự tin xử lý triệt để mọi sự cố môi trường khách hàng gặp.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-1475880362" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <div class="icon-box featured-box icon-box-center text-center">
                        <div class="icon-box-img" style="width: 99px">
                            <div class="icon">
                                <div class="icon-inner">
                                    <img width="168" height="168" src="/img/phuc-vu-247-moi-luc-moi-noi.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                </div>
                            </div>
                        </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>Phục vụ 24/24<br/> kể cả ngày lễ</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">
                                Chúng tôi, Công ty môi trường đô thị Hà Nội có hệ thống cơ sở phân bổ khắp 64 tỉnh thành cả nước cùng đội ngũ nhân viên đông đảo, chuyên nghiệp, nhiệt tình, được đào tạo bài bản về thông tắc cống, thông tắc bồn cầu … sẵn sàng hỗ trợ miễn phí thắc mắc về môi trường.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-148908390" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <div class="icon-box featured-box icon-box-center text-center">
                        <div class="icon-box-img" style="width: 99px">
                            <div class="icon">
                                <div class="icon-inner">
                                    <img width="168" height="168" src="/img/dff.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                </div>
                            </div>
                        </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>Thông tắc<br/> giá thành rẻ</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">
                                Công ty môi trường đô thị Hà Nội có chính sách đặt biệt với chiết khấu hoa hồng cực cao lên tới 25% cho người giới thiệu hoặc các công ty có nhu cầu hút bể phốt, thông tắc cống, nạo vét cống rãnh, hố ga …, và giảm thêm 5% vào những dịp lễ Tết, cuối tuần.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-1150378345" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <div class="icon-box featured-box icon-box-center text-center">
                        <div class="icon-box-img" style="width: 99px">
                            <div class="icon">
                                <div class="icon-inner">
                                    <img width="168" height="168" src="/img/da-dang-cac-goi-dich-vu.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                </div>
                            </div>
                        </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>Đa dạng gói dịch vụ<br/> vệ sinh</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">Nhằm đáp ứng nhu cầu đa dạng từ phía khách hàng, Thông tắc cốngCông ty môi trường đô thị Hà Nội hiện đã và đang cung cấp đa dạng gói dịch vụ như: Thống tắc bể phốt, Thông tắc cống, thau rửa bể nước, nạo vét hố ga, tất cả đều đảm bảo chuyên nghiệp, uy tín.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-1461271868" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <div class="icon-box featured-box icon-box-center text-center">
                        <div class="icon-box-img" style="width: 99px">
                            <div class="icon">
                                <div class="icon-inner">
                                    <img width="168" height="168" src="/img/tu-van-khao-sat-mien-phi.png" class="attachment-medium size-medium" alt="" loading="lazy" sizes="(max-width: 168px) 100vw, 168px" /> 
                                </div>
                            </div>
                        </div>
                        <div class="icon-box-text last-reset">
                            <h2 style="text-align: center;">
                                <span style="color: #013b61;">
                                    <strong>Phục vụ 24/24<br/> mọi lúc mọi nơi</strong>
                                </span>
                            </h2>
                            <p class="text-justyfly">Công ty môi trường đô thị Hà Nội, Chúng tôi có hệ thống cơ sở phân bổ khắp 64 tỉnh thành cả nước cùng đội ngũ nhân viên đông đảo, chuyên nghiệp, nhiệt tình hầu hết có kinh nghiệm nhiều năm về xử lý vệ sinh môi trường về thông tắc cống, thông tắc bể phốt …</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section" id="section_1502937940">
            <div class="section-content relative">
                <div class="row" id="row-1185264621">
                    <div id="col-158596063" class="col small-12 large-12">
                        <div class="col-inner text-center">
                            <p style="text-align: center;">
                                <span style="color: #013b61; font-size: 110%;">3 dịch vụ cốt lõi</span>
                            </p>
                            <h1 style="text-align: center;">
                                <span style="font-size: 130%; color: #013b61;">
                                    <strong>DỊCH VỤ</strong>
                                </span>
                            </h1>
                            <div class="is-divider divider clearfix" style="max-width:79px;background-color:rgb(255, 159, 0);"></div>
                        </div>             
                    </div>
                    <div id="col-1912802874" class="col medium-4 small-12 large-4">
                        <div class="col-inner text-left">
                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_946403381">
                                <div class="img-inner dark">
                                    <img width="1280" height="720" src="/img/dich-vu-hut-be-phot.jpg" class="attachment-original size-original" alt="" loading="lazy" sizes="(max-width: 1280px) 100vw, 1280px" />
                                </div>
                            </div>
                            <h2 style="text-align: left;">
                                <span style="color: #013b61;">Hút Bể Phốt</span>
                            </h2>
                            <p style="text-align: left;">
                                <span style="color: #000000;">Hiện nay tình trạng bể phốt tại Hà Nội bị tắc khá phổ biến nguyên nhân dẫn đến bể phốt…</span>
                            </p>

                            {{!-- link chi tiết hút bể phốt --}}
                            <a rel="noopener noreferrer" href="" target="_blank" class="button primary is-shade is-larger box-shadow-4 box-shadow-5-hover xemthem" style="border-radius:10px;">
                                <span>xem thêm</span>
                                {{!-- <i class="icon-expand"></i> --}}
                            </a>
                        </div>
                    </div>
                    <div id="col-1919916389" class="col medium-4 small-12 large-4">
                        <div class="col-inner text-left">
                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_334210509">
                                <div class="img-inner dark">
                                    <img width="1280" height="720" src="/img/thong-tac-ve-sinh-1.jpg" class="attachment-original size-original" alt="" loading="lazy" sizes="(max-width: 1280px) 100vw, 1280px" />
                                </div>
                            </div>
                            <h2 style="text-align: left;">
                                <span style="color: #013b61;">Thông tắc vệ sinh</span>
                            </h2>
                            <p style="text-align: left;">
                                <span style="color: #000000;">Hiện bạn đang sinh sống tại Hà Nội bạn đang tìm kiếm một đơn vị cung cấp dịch vụ…</span>
                            </p>

                            {{!-- link chi tiết thông tắc vệ sinh --}}
                            <a rel="noopener noreferrer" href="" target="_blank" class="button primary is-shade is-larger box-shadow-4 box-shadow-5-hover xemthem" style="border-radius:10px;">
                                <span>xem thêm</span>
                                    {{!-- <i class="icon-expand"></i> --}}
                            </a>
                        </div>
                    </div>
                    <div id="col-1329912072" class="col medium-4 small-12 large-4">
                        <div class="col-inner text-left">
                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_610934229">
                                <div class="img-inner dark">
                                    <img width="1280" height="720" src="/img/dich-vu-thong-tac-cong-tai-ha-noi.jpg" class="attachment-original size-original" alt="" loading="lazy" sizes="(max-width: 1280px) 100vw, 1280px" />
                                </div>
                            </div>
                            <h2 style="text-align: left;">
                                <span style="color: #013b61;">Thông tắc cống</span>
                            </h2>
                            <p style="text-align: left;">
                                <span style="color: #000000;">Đem đến niềm tin bền vững, hiệu quả vượt trội cho các công ty, nhà xưởng, tổ chức, cá nhân…</span>
                            </p>
                            {{!-- link chi tiết về thông tắc công --}}
                            <a rel="noopener noreferrer" href="/" target="_blank" class="button primary is-shade is-larger box-shadow-4 box-shadow-5-hover xemthem" style="border-radius:10px;">
                                <span>xem thêm</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="section_590638494">
            <div class="section-content relative">
                <div class="row" id="row-1574693048">
                    <div id="col-1064219518" class="col medium-4 small-12 large-4">
                        <div class="col-inner">
                            <p><strong>CHI NHÁNH VĂN PHÒNG SỐ 1</strong></p>
                            <p>- 25 Hoàng Quốc Việt</p>
                            <p>- 18b Cao Bá Quát</p>
                            <p>- 234 Cầu Giấy</p>
                            <p>- 34 Hoàng Cầu</p>
                            <p>- 273 Đội Cấn</p>
                            <p>- 345 Lạc Long Quân</p>
                            <p>- 78 Tứ Hiệp ( Thanh Trì )</p>
                            <p>- 78 Lò Đúc</p>
                            <p>- 334 Minh Khai</p>
                        </div>
                    </div>
                    <div id="col-88584955" class="col medium-4 small-12 large-4">
                        <div class="col-inner">
                            <p><strong>CHI NHÁNH VĂN PHÒNG SỐ 2</strong></p>
                            <p>- 256 Âu Cơ</p>
                            <p>- 47 Nguyễn Văn Linh</p>
                            <p>- 134 Hoàng Mai</p>
                            <p>- 49 Đình Thôn</p>
                            <p>- 137 An Dương Vương</p>
                            <p>- 123 Nguyễn Thái Học</p>
                            <p>- Ngã tư Thị trấn ( Đông Anh )</p>
                            <p>- 198 Lê Văn Lương</p>
                            <p>- 364 Nguyễn Trãi</p>
                        </div>
                    </div>
                    <div id="col-259489389" class="col medium-4 small-12 large-4">
                        <div class="col-inner">
                            <p><strong>CHI NHÁNH VĂN PHÒNG SỐ 3</strong></p>
                            <p>- 12 Quán Thánh</p>
                            <p>- 156 Ngô Gia Tự</p>
                            <p>- 69 Láng Hạ</p>
                            <p>- 55 Trần Duy Hưng</p>
                            <p>- 68a Tây Sơn</p>
                            <p>- Ngõ 2 Đường Láng</p>
                            <p>- Ngã 4 Trạm Trôi ( Hoài Đức )</p>
                            <p>- 156 Giải Phóng</p>
                            <p>- 08 Quang Trung ( Hà Đông )</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div id="footer" class="footer-wrapper">
        <div class="row" id="row-1042966265">
            <div id="col-178821205" class="col small-12 large-12">
                <div class="col-inner">
                    <h2 style="text-align: center;">
                        <span style="color: #ed1c24;">
                            <strong>HÌNH ẢNH HOẠT ĐỘNG CỦA </strong>
                            <strong>CÔNG TY MÔI TRƯỜNG ĐÔ THỊ HÀ NỘI</strong>
                        </span>
                    </h2>
                </div>
            </div>
            <div id="col-1997682230" class="col medium-6 small-12 large-6">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1538352927">
                        <div class="img-inner dark">
                            <img width="700" height="558" src="/img/thong-tac-viet-xanh-5.jpg" class="attachment-original size-original" alt="" loading="lazy"  sizes="(max-width: 700px) 100vw, 700px" />
                        </div>

                    </div>
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1268029593">
                        <div class="img-inner dark">
                            <img width="500" height="328" src="/img/xu-ly-tac-bon-rua-bat.jpg" class="attachment-large size-large" alt="" loading="lazy" sizes="(max-width: 500px) 100vw, 500px" />
                        </div>

                    </div>
                </div>
            </div>
            <div id="col-832226131" class="col medium-6 small-12 large-6">
                <div class="col-inner">
                    <p>Công ty môi trường đô thị Hà Nội với đơn giá dịch vụ vô cùng ưu đãi đến quý khách hàng từ nhà dân, các xí nghiệp, các công ty, tòa nhà chung cư …<br />
                        ✔️ Hút bể phốt cho các
                        <span style="color: #ff0000;"> 
                            <strong>tổ chức có số lượng lớn trên 1000 khối đơn giá chỉ 90.000đ/ khối</strong>
                        </span><br />
                            ✔️ Hút bể phốt cho các cá nhân 
                        <strong>
                            <span style="color: #ff0000;">hộ gia đình giá thỏa thuận </span>
                        </strong><br />
                            ✔️ Đối với dịch vụ 
                        <span style="color: #ff0000;">
                            <strong>thông tắc các loại như bồn cầu, bể phốt và đường cống giá chỉ 99.000đ</strong>
                        </span><br />
                        <span style="color: #ff0000;">
                            <strong>+ Cơ sở vật chất được trang bị đầy đủ gồm:</strong>
                        </span><br />
                            ✔️ Các loại máy thông tắc cống, thông tắc bể phốt, thông tắc bồn cầu, hút bể phốt … công nghệ tiên tiến và mới nhất<br />
                            ✔️ Xe hút bể phốt chuyên dụng đủ chủng loại từ nhỏ đến lớn: 
                        <span style="color: #ff0000;">
                            <strong>1/2 – 1 khối, 3 khối, 6 khối, 8 khối, 15 khối, 20 khối, …</strong>
                        </span><br />
                        <span style="color: #ff0000;">
                            <strong>+ Nguồn nhân lực đảm bảo về chất lượng và số lượng:</strong>
                        </span><br />
                            ✔️ Số lượng lớn các kỹ thuật viên chuyên phụ trách thông tắc cống, nạo vét, hút bể phốt,<br />
                            ✔️ Tay nghề kiến thức được đào tạo chuyên môn chính quy<br />
                            ✔️ Tối thiểu 3 năm kinh nghiệm làm việc thực tế trong lĩnh vực vệ sinh môi trường
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div onclick="window.location.href= 'tel:0975719589'" class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
            <a href="tel:0975719589" class="pps-btn-img">
                <img src="/img/phone.png" alt="Gọi điện thoại" width="50">
            </a>
        </div>
    </div>
    <a href="tel:0975719589">
        <div class="hotline-bar">
            <a href="tel:0975719589">
                <span class="text-hotline">0975.719.589</span>
            </a>
        </div>
    </a>
</div>
<div class="inner-fabs">
    <a target="blank" href="https://zalo.me/0975719589" class="fab roundCool" id="chat-fab" data-tooltip="Zalo">
        <img class="inner-fab-icon" src="/img/zalo.png" alt="chat-active-icon" border="0">
    </a>
    <a target="blank" href="https://www.facebook.com/profile.php?id=100006714900869" style="color: blue ; text-decoration: none" class="fab roundCool" id="chat-fab" data-tooltip="Facebook">
        <i class="fa-brands fa-facebook-square"></i>
    </a>
</div>
<div class="fab roundCool call-animation" id="main-fab">
    <img class="img-circle" src="/img/lienhe.png" alt="" width="135" />
</div>



<script>
    var main_fab=document.getElementById('main-fab');
    var imageContact=document.getElementById('imageContact');
    var innerFabs=document.getElementsByClassName('inner-fabs')[0];
    main_fab.onclick = function(){
        innerFabs.classList.toggle('show');
    };
</script>